# Ignorar dependencias (ejemplo Node.js)
node_modules/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de entorno
.env

# Ignorar compilados de Python
__pycache__/
*.pyc

# Ignorar compilados de Java
*.class

# Ignorar builds
/dist
/build
