@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Títulos (ligeros pero aún destacados) */
  .text-fluid-lg {
    font-size: clamp(0.9375rem, 1vw, 1.125rem); /* 15px → 18px */
  }

  /* Texto mediano (contenido principal) */
  .text-fluid-md {
    font-size: clamp(0.8125rem, 0.9vw, 0.9375rem); /* 13px → 15px */
  }

  /* Texto pequeño (detalles, footers, acciones secundarias) */
  .text-fluid-sm {
    font-size: clamp(0.6875rem, 0.8vw, 0.8125rem); /* 11px → 13px */
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}